@charset "utf-8";

:root {
  --app-lightblack: #222931;
  --app-black: #1a1f25;
  --app-gray: #393E46; 
  --app-orange: #FD7014;
  --app-white: #EEEEEE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  position: relative
}

ul, li, a {
  text-decoration: none;
  color: var(--app-white);
}

a, li, .fa-bars{
  display: inline;
  cursor: pointer;
}

.container {
  width: min(100% - 40px, 1150px);
  margin-inline: auto;
}

/*-----------------------------------------------
 Header 
-------------------------------------------------*/
header {
  background-color: var(--app-lightblack);
  position: sticky;
  z-index: 1;
  top: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.fa-bars {
  z-index: 2;
  display: none;
  color: var(--app-white);
  font-size: 20px
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-bug {
  font-size: 30px;
  background-color: var(--app-orange);
  border-radius: 10px;
  color: var(--app-white);
}

nav {
  font-size: 20px;
  font-weight: 500;
  color: var(--app-white);
  padding: 15px 0;

  li {
    margin-left: 25px;
  }
}

.nav-bar {
  display: none;
  text-align: right;
  padding-top: 49px;
  position: sticky;
  top: 0;
  z-index: 0;
  justify-content: right;

  ul {
    background-color: var(--app-lightblack);
    display: grid;
    padding: 0 5px 0 20px;
  }

  li {
    margin: 5px 0;
    font-weight: 500;
  }
}

.displayNone {
  display: none;
}

.displayFlex {
  display: flex;
}
/*-----------------------------------------------
 Hero-Banner 
-------------------------------------------------*/
.hero-banner {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  color: var(--app-white);
}

.color-hero {
  height: 100%;
  width: 100%;
  background-color: #222931e1;
}
.hero-banner-main{
  height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.hb-title {
  font-size: 60px;
  font-weight: 500;

  span {
    color: var(--app-orange);
    display: block;
  }
}

.hb-btn {
  margin-top: 22px;
  display: flex;
  justify-content: center;
}

.scroll-main-btn {
  color: var(--app-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 43px;
  line-height: 43px;
  background-color: #22293126;
  border: 1px solid var(--app-orange);
  border-radius: 10px;
  font-size: 18px;
}

.fa-arrow-down-long {
  margin-left: 10px;
  line-height: 43px;
}

/*-----------------------------------------------
 Main 
-------------------------------------------------*/
body {
  background-color: #1a1a1a;
}

.title-page {
  text-align: center;
  font-size: 50px;
  padding: 90px 0;
  color: var(--app-white);
}

.about-main {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.about-me {
  width: 50vw;

  p {
    line-height: 30px;
    font-weight: 500;
  }
}

.fa-user {
  font-size: 200px;
  justify-content: center;
  padding-bottom: 30px;
  color: var(--app-orange);
}

.about-info {
  text-align: left;
  color: var(--app-white);
}

.code-list {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  justify-content: center;
}
.flex-code-list {
  display: none;
}
.col {
  display: grid;
  justify-content: center;
  align-items: center;
}

.col:nth-child(2) {
  margin: 0 20px;

  .box:nth-child(2) {
    margin: 20px 0;
  }
}

.box {
  border: 2px solid var(--app-orange);
  border-radius: 10px;
  height: 90px;
  width: 140px;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 5px;

  p {
    color: var(--app-white);
  }
  
  img {
    height: 60px;
    width: 60px;
  }
}

/*-----------------------------------------------
 Projects 
-------------------------------------------------*/
.project-list {
  margin-bottom: 90px;
}

.project {
  display: flex;
  margin-bottom: 200px;
}

.img-box {
  height: 595px;
  width: 927px;
  background-color: var(--app-orange);
  display: flex;
  align-items: center;
  transition: transform 1s ease;
}

.project-img {
  height: 390px;
  width: 795px;
}

.overview-box {
  height: calc(100vh - 54px);
  display: flex;
  align-items: center;
  position: relative;
}

.overview-main {
  position: absolute;
  width: 25vw;
  height: 60vh;
  left: -4vw;

  h3 {
    font-size: 35px;
    color: var(--app-white);
    margin-bottom: 12px;
  }

  p {
    font-weight: 500;
    font-size: 17px;
    color: var(--app-white);
  }

  ul {
    display: grid;
    margin-top: 12px;
  }

  a {
    font-weight: 430;
    font-size: 20px;
    color: var(--app-white);
  }
}

.project-btn {
  margin-bottom: 30px;
  position: relative;
  width: 10vw;
}

.line {
  margin-top: 5px;
  position: absolute;
  border-top: solid 3px var(--app-gray);
  inset: auto, 0, 0, auto;
  width: 100%;
}

/* Mirrored Version */
.project-mirrored {
  display: flex;
  justify-content: right;
}

.img-box-mirrored {
  height: 595px;
  width: 927px;
  background-color: var(--app-orange);
  display: flex;
  justify-content: right;
  align-items: center;
}

.overview-main-mirrored {
  position: absolute;
  width: 25vw;
  height: 60vh;
  right: -4vw;
  h3 {
    font-size: 35px;
    color: var(--app-white);
    margin-bottom: 12px;
  }

  p {
    font-weight: 500;
    font-size: 17px;
    color: var(--app-white);
  }

  ul {
    display: grid;
    margin-top: 12px;
  }

  a {
    font-weight: 430;
    font-size: 20px;
    color: var(--app-white);
  }
}


.project-img:hover {
  height: 64vh;
  width: 64vw;
  margin: 15px;
}

/*-----------------------------------------------
 Contact-us 
-------------------------------------------------*/
.contact-page {
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222931a9;
}

.contact-content {
  text-align: center;
  h3 {
    font-size: 45px;
    font-weight: 700;
    color: var(--app-orange);
    margin-bottom: 25px;
  }

  p {
    color: var(--app-white);
  }
}

footer {
  background-color: var(--app-lightblack);
  padding-top: 15px ;
}

.footer-main {
  display: flex;
  justify-content: center;
  color: var(--app-white);
  li {
    display: block;
  }

  p, li {
    margin: 20px 0;
  }

  i {
    margin-right: 7px;
    width: 16px;
    transition: transform 0.5s ease ;
  }

  i:hover {
    transform: rotate(360deg);  
  }
}

.page-list {
  margin: 0 20vw;
}

/*-----------------------------------------------
 Media Query 
-------------------------------------------------*/
@media screen and (max-width: 1200px) {
  .about-main {
    display: grid;
    justify-content: center;
  }

  .about-info {
    width: 100%;
  }
  .code-list {
    display: none;
  }

  .flex-code-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .box {
      display: inline;
      text-align: center;
    }
  }

  .about-me {
    margin-bottom: 70px;
    width: 60vw;
    text-align: center;
  }

  .img-box-mirrored, .img-box {
    height: 475px;
    width: 807px;
  }

  .project-img {
    height: 370px;
    width: 675px;
  }

  .hb-title {
    font-size: 50px;
  }

  .scroll-main-btn {
    width: 248px;
    height: 36px;
    font-size: 15px;

    p, i{
      line-height: 36px;
    }
    
  }

  .overview-box {
    h3 {
      font-size: 28px;
    }

    p {
      font-size: 14px;
    }

    a {
      font-size: 17px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .img-box-mirrored, .img-box {
    height: 465px;
    width: 720px;
  }
  .project-img {
    height: 360px;
    width: 600px;
  }
}

@media screen and (max-width: 950px) {
  .img-box-mirrored, .img-box {
    height: 440px;
    width: 610px;
  }
  .project-img {
    height: 340px;
    width: 550px;
  }
}

@media screen and (max-width: 994px) {
  .img-box-mirrored, .img-box {
    height: 440px;
    width: 540px;
  }
  .project-img {
    height: 300px;
    width: 480px;
  }

  .project-btn {
    width: 90px;
  }
  .overview-box {
    h3 {
      font-size: 26px;
    }

    p {
      font-size: 12px;
    }

    a {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 730px) {
  .contact-content {
    h3 {
      font-size: 35px;
    }

    p {
      font-size: 14px;
    }
  }
  nav {
    font-size: 16px;
  }
  .img-box-mirrored, .img-box {
    height: 390px;
    width: 470px;
  }
  
  .project-img {
    height: 270px;
    width: 420px;
  }

  .overview-box {
    h3 {
      font-size: 23px;
    }

    p {
      font-size: 12px;
    }

    a {
      font-size: 13px;
    }
  }

  .hb-title {
    font-size: 46px;
  }

  .scroll-main-btn {
    width: 180px;
    height: 28px;
    font-size: 14px;

    p, i{
      line-height: 28px;
    }
  }
}

@media screen and (max-width: 615px) {
  .img-box-mirrored, .img-box {
    height: 330px;
    width: 400px;
  }
  .about-me {
    font-size: 14px;
  }
  
  .project-img {
    height: 240px;
    width: 350px;
  }

  .overview-box {
    h3 {
      font-size: 18px;
    }

    p {
      font-size: 9px;
    }

    a {
      font-size: 11px;
    }
  }

  .project-btn {
    width: 75px;
  }

  .hb-title {
    font-size: 35px;
  }

  .scroll-main-btn {
    width: 170px;
    height: 28px;
    font-size: 13px;

    p, i{
      line-height: 28px;
    }
  }
}

@media screen and (max-width: 530px) {
  .hb-title {
    font-size: 28px;
  }
  .project-mirrored, .project {
    display: grid;
    margin: 0;
  }

  .img-box-mirrored {
    grid-row: 1;
  }
  .project-img:hover {
    height: 240px;
    width: 350px;
    margin: 0;
  }

  .overview-box {
    width: min(100% - 40px, 1150px);
    margin-inline: auto;
    margin: 30px;
    height: auto;
    align-items: left;
    position: static;
  }
  
  .overview-main, .overview-main-mirrored {
    position: static;
    align-items: left;
    width: 100%;
    left: 0;
    height: auto;
  }

  .img-box-mirrored, .img-box {
    justify-content: center;
    width: 100%;
  }
  .project-img {
    width: 370px;
    height: 270px;
  }

  .footer-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 13px;
  }

  .page-list {
    justify-content: center;
    a {
      display: flex;
    }
  }

  .contact-content {
    h3 {
      font-size: 25px;
    }

    p {
      font-size: 10px;
      font-weight: 500;
    }
  }

  .title-page {
    font-size: 40px;
    padding: 60px;
  }
  header {
    display: flex;
    align-items: center;
    height: 49px;
  }

  nav {
    display: none;
  }

  .fa-bars {
    display: inline;
  }
}